{% extends 'catalog/home.html' %}
{% load my_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="coll-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Добавить категорию</a>
</div>
{% endif %}
{% for category in object_list %}
<div class="col-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <img class="card-img-top" src="{{ category.picture | media_filter }}">
            <h4 class="my-0 font-weight-normal">{{ category.name }}</h4>
            <h4 class="my-0 font-weight-normal">{{ category.description }}</h4>

        </div>
        <div class="card-body">

            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>{{ category.description }}</li>
            </ul>
            <div class="btn-group">

                <a class="btn btn-primary" role="button">Посмотреть</a>
            </div>

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}