{% extends 'catalog/home.html' %}

{% block content %}
<div class="col-12">
    <form method="post" enctype="multipart/form-data">
        <!--enctype="multipart/form-data" необходимо прописывать чтобы была возможность загружать не только текст но и файлы>-->
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% if object %}
                                Редактирование продукта
                                {% else %}
                                Создание продукта
                                {% endif%}
                            </h3>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Создать
                                {% endif%}
                            </button>
                        </div>
                    </div>
                </div>
                <!--                <div class="col-6">-->
                <!--&lt;!&ndash;                    <div class="card">&ndash;&gt;-->
                <!--&lt;!&ndash;                         <div class="card-header">&ndash;&gt;-->
                <!--&lt;!&ndash;                            <h3 class="card-title">Предметы студента</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
                <!--&lt;!&ndash;                        <div class="card-body">&ndash;&gt;-->
                <!--&lt;!&ndash;                            {{ formset.management_form }}&ndash;&gt;-->
                <!--&lt;!&ndash;                            {% for form in formset.forms %}&ndash;&gt;-->
                <!--&lt;!&ndash;                                {{ form.as_p }}&ndash;&gt;-->
                <!--&lt;!&ndash;                                {% if not forloop.last %}&ndash;&gt;-->
                <!--&lt;!&ndash;                                <hr>&ndash;&gt;-->
                <!--&lt;!&ndash;                                {% endif %}&ndash;&gt;-->
                <!--&lt;!&ndash;                            {% endfor %}&ndash;&gt;-->
                <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
                <!--&lt;!&ndash;                    </div>&ndash;&gt;-->
                <!--                </div>-->
            </div>
        </div>
    </form>
</div>
{% endblock %}