{% extends 'catalog/home.html' %}
{% load my_tags %}

{% block content %}
<div class="coll-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Добавить продукт</a>
</div>
{% for product in object_list %}
<div class="col-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <img class="card-img-top" src="{{ product.picture | media_filter }}">
            <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            <h8 class="my-0 font-weight-normal">Версия: {{ product.active_version }}</h8>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ product.price }} р.</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>{{ product.category }}</li>
                <li>{{ product.description|slice:100 }}</li>
            </ul>
            <div class="btn-group">
                <a class="btn btn-primary" role="button">Купить</a>
                <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Посмотреть</a>
                <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk %}" role="button">Редактировать</a>
            </div>

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}